body{
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

video{
    min-width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.central{
    width: fit-content;
    background: rgba(114, 244, 244, 0.637);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgb(0, 255, 229);
}

.central button{
    background: rgb(21, 82, 84);
    color: rgb(23, 255, 240);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    width: 50%;
}

.central button:hover{
    background: rgb(23, 255, 240);
    color: rgb(21, 82, 84);
}

.central input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 80%;
}

.central .subcentral{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}